.donateBook {
	.mainContainer {
		p {
			font-style: italic;
			line-height: 18px;
			color: #ff556e !important;
		}
		h4 {
			font-weight: bold;
			font-size: 15px;
			line-height: 18px;
			color: #868686;
			margin-bottom: 2rem;
		}
	}
}
