.mainSignContainer {
	font-family: font(secondary);
	display: flex;
	min-height: fit-content;

	.formBox {
		background-color: color(white);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		border-radius: 3px;
		padding: 50px;
		width: 90vw;
		margin: 2rem auto;
		max-width: 400px;
		position: relative;

		@media screen and (max-width: 500px) {
			background-color: transparent;
			box-shadow: none;
			position: unset;
			padding: 5px;
		}

		h1 {
			margin-top: 2rem;
			font-weight: bold;
			font-size: 28px;
		}

		h2 {
			font-size: 20px;
			margin-bottom: 20px;
		}

		.form-group {
			margin-bottom: 0.8rem;
			label {
				font-family: font(secondary);
				font-size: 13px;
				font-weight: 500;
				color: #b4b4b4;
				margin-bottom: 0.25rem;
				margin-left: 1rem;
			}

			small {
				opacity: 0;
				transition: opacity 0.3s ease;
				// min-height: 15px; //TODO
				color: #ef5350;
				font-size: 12px;
				font-weight: 500;
				margin-top: 0.6rem;
				margin-left: 1rem;

				img {
					height: 13px;
					margin-right: 0.2rem;
				}
			}

			.active {
				opacity: 1 !important;
			}

			input {
				background: #ffffff;
				border: 0.2px solid #e1e1e1;
				box-sizing: border-box;
				box-shadow: 0px 1px 8px rgba(146, 146, 146, 0.25);
				border-radius: 8px;
				font-size: 14px;
				padding: 1.2rem 1rem;
				height: fit-content;
				color: color(textDark);
			}

			.input-group {
				box-sizing: border-box;
				box-shadow: 0px 1px 8px rgba(146, 146, 146, 0.25);
				border-radius: 8px;

				input {
					border: none;
					background: #ffffff;
					padding: 1.2rem 1rem;
					height: fit-content;
					font-size: 14px;
					color: color(textDark);
				}

				input.passwordInput {
					border-radius: 0;
					border-color: #e1e1e1;
					border-style: solid;
					border-width: 0.2px 0px 0.2px 0.2px;
					border-top-left-radius: 8px;
					border-bottom-left-radius: 8px;
					box-shadow: none;
				}
				input.mobileNumberInput {
					border: none;
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;
					box-shadow: none;
					padding-left: 0.5rem;
				}

				.input-group-text {
					border: none;
					cursor: pointer;
					background-color: white;
				}

				.input-group-text.passwordInputText {
					border-color: #e1e1e1;
					border-style: solid;
					border-width: 0.2px 0.2px 0.2px 0px;
					border-top-right-radius: 8px;
					border-bottom-right-radius: 8px;
					padding-right: 1rem;

					div {
						width: 2rem;
						svg {
							color: #1a2639;
						}
					}
				}
				.input-group-text.mobileNumberInputText {
					border: none;
					border-top-left-radius: 8px;
					border-bottom-left-radius: 8px;
					font-size: 14px;
					padding-right: 0.5rem;
				}
			}
		}

		.loginOptions {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 1.5rem 0 1rem 0;

			div > .pretty {
				font-size: 13px;
				color: #b4b4b4;
				.state {
					label {
						&:after {
							border: 1.5px solid #b4b4b4;
						}

						font-weight: 500;
					}

					img {
						padding-left: 1.3px;
					}
				}
			}

			.forgotPassword {
				font-size: 13px;
				color: #1f74e6;
			}
		}

		.signButton {
			height: 50px;
			display: flex;
			border-radius: 4px;
			justify-content: center;
			align-items: center;
			font-size: 14px;
			cursor: pointer;
		}

		.darkButton {
			@extend .signButton;
			background: #1a2639;
			color: white;
		}

		.lightButton {
			@extend .signButton;
			color: #1a2639;
			border: 1px solid #1a2639;
		}

		.separator {
			margin: 0.8rem 0;
			display: flex;
			align-items: center;
			text-align: center;

			font-size: 13px;
			color: #b4b4b4;
		}

		.separator::before,
		.separator::after {
			content: '';
			flex: 1;
			border-bottom: 0.5px solid #a6a6a6;
		}
		.separator::before {
			margin-right: 0.5em;
			margin-left: 0.8em;
		}
		.separator::after {
			margin-left: 0.5em;
			margin-right: 0.8em;
		}

		.termsConditions {
			margin: 1rem 0 2rem 0;
			.pretty {
				font-size: 13px;
				color: #b4b4b4;
				.state {
					label {
						&:after {
							border: 1.5px solid #b4b4b4;
						}

						font-weight: 500;
					}

					img {
						padding-left: 1.3px;
					}
				}
			}

			small {
				display: block;
				margin-left: 1rem;
				opacity: 0;
				transition: opacity 0.3s ease;
				// min-height: 15px; //TODO
				color: #ef5350;
				font-size: 12px;
				font-weight: 500;
				margin-top: 0.6rem;
			}
			.active {
				opacity: 1 !important;
			}
		}
	}
}
