.tokenExpired {
	.iconContainer {
		margin: 4rem auto;
		width: 200px;
	}

	p {
		font-family: font(secondary);
		font-weight: 500;
		font-size: 18px;
		text-align: center;
	}

	.darkButton {
		margin-top: 2rem;
	}
}
