.breadcrumb {
	font-family: font(secondary);
	background-color: #eaf5ff;
	font-size: 15px;
	margin-bottom: 0;

	.breadcrumb-item {
		font-weight: 500;
		color: #1a2639;

		&:before {
			color: #1a2639;
		}

		a {
			text-decoration: none;
			color: #1a2639;
		}
	}
}
