.input:focus,
.custom-select:focus,
textarea:focus {
	border: none;
	// // box-shadow: 0 0 0 0.2rem rgba(color(accent), 0.4) !important;
	// box-shadow: 0px 1px 8px rgba(146, 146, 146, 0.25);
	outline: 0;
}
.form-control,
.custom-select {
	transition: box-shadow 0.15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.input-group:focus-within {
	border-radius: 0.25rem;
	// box-shadow: 0 0 0 0.2rem rgba(color(accent), 0.4) !important;
	outline: none;
	//

	.input:focus {
		box-shadow: none !important;
		border-right: none;
	}
}

// #input:-webkit-autofill {
// 	overflow: hidden;
// 	height: 10px !important;
// }

.form-group {
	margin-bottom: 1.3rem;
	label {
		font-family: font(secondary);
		font-size: 15px;
		font-weight: 500;
		color: #868686;
		margin-bottom: 0.5rem !important;
		margin: 0 1rem;
	}

	small {
		opacity: 0;
		transition: opacity 0.3s ease;
		// min-height: 15px; //TODO
		color: #ef5350;
		font-size: 12px;
		font-weight: 500;
		margin-top: 0.6rem;
		margin-left: 1rem;

		svg {
			height: 13px;
			margin-right: 0.2rem;
		}
	}

	.active {
		opacity: 1 !important;
	}

	input,
	textarea,
	select {
		&:focus {
			border: 0.2px solid #e1e1e1;
			box-sizing: border-box;
			box-shadow: 0px 1px 8px rgba(146, 146, 146, 0.25);
			border-radius: 8px;
		}
		// background: #ffffff;
		border: 0.2px solid #e1e1e1;
		box-sizing: border-box;
		box-shadow: 0px 1px 8px rgba(146, 146, 146, 0.25);
		border-radius: 8px;
		font-size: 14px;
		padding: 1.2rem 1rem;
		height: fit-content;
		color: color(textDark);
		font-weight: 500;
	}

	select {
		background: #fff url('../../../icons/generic/down-black.svg') no-repeat
			right 1.25rem center/12px 10px;
	}

	.input-group {
		box-sizing: border-box;
		box-shadow: 0px 1px 8px rgba(146, 146, 146, 0.25);
		border-radius: 8px;

		input,
		textarea {
			border: none;
			background: #ffffff;
			padding: 1.2rem 1rem;
			height: fit-content;
			font-size: 14px;
			color: color(textDark);
			font-weight: 500;
		}

		input.passwordInput {
			border-radius: 0;
			border-color: #e1e1e1;
			border-style: solid;
			border-width: 0.2px 0px 0.2px 0.2px;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			box-shadow: none;
		}
		input.mobileNumberInput {
			border: none;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			box-shadow: none;
			padding-left: 0.5rem;
		}

		.input-group-text {
			border: none;
			cursor: pointer;
			background-color: white;
			font-weight: 500;
		}

		.input-group-text.passwordInputText {
			border-color: #e1e1e1;
			border-style: solid;
			border-width: 0.2px 0.2px 0.2px 0px;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			padding-right: 1rem;

			div {
				width: 2rem;
				svg {
					color: #1a2639;
				}
			}
		}
		.input-group-text.mobileNumberInputText {
			border: none;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			font-size: 14px;
			padding-right: 0.5rem;
		}
	}
}
.inputGroup {
	margin-top: 0.2rem;
	background-color: white;
	border: 0.2px solid #e1e1e1;
	box-sizing: border-box;
	box-shadow: 0px 1px 8px rgba(146, 146, 146, 0.25);
	border-radius: 8px;
	padding: 1rem 0;
}
.radioGroup {
	@extend .inputGroup;
}

.radio {
	display: flex;
	align-content: center;
	align-items: flex-start;
	// padding-left: 1rem;
	cursor: pointer;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	flex-wrap: nowrap;
	width: fit-content;
	margin: 0.5rem 1rem !important;

	span {
		font-weight: 400;
		color: #535353;
		line-height: 1.8rem;
	}

	span.active {
		font-weight: 500;
		color: color(secondary);
	}

	div {
		position: relative;

		.check {
			display: inline-block;
			margin-top: 0.35rem;
			height: 1rem;
			width: 1rem;
			background-color: #fff;
			border-radius: 100%;
			border: 1px solid #c4c4c4;
			position: relative;

			margin-right: 0.5rem;

			&:after {
				content: '';
				display: none;
				width: 100%;
				height: 100%;
				border-radius: 100%;
				background-color: color(secondary);
				transform: scale(0.65);
			}
		}
	}

	input {
		&:checked {
			& ~ div {
				.check {
					border: 1px solid color(secondary);

					&:after {
						display: block !important;
					}
				}
			}
		}
		position: absolute;
		opacity: 0;
		cursor: pointer;

		&.timesInput {
			position: relative;
			left: 1rem;
			height: 2rem;
			// top: -0.35rem;
			opacity: 1;
			width: 3rem;
			padding: 0 0.8rem;
			text-align: center;
		}
		&.othersInput {
			position: absolute;
			left: 1rem;
			height: 2.5rem;
			top: -0.5rem;
			opacity: 1;
			max-width: 12rem;
			width: 45vw;
			padding: 0 0.8rem;
			// text-align: center;
		}
	}
}

.checkBoxGroup {
	@extend .inputGroup;
}

.checkbox {
	display: flex;
	align-content: center;
	align-items: flex-start;
	// padding-left: 1rem;
	cursor: pointer;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	flex-wrap: nowrap;
	width: fit-content;
	margin: 0.5rem 1rem !important;
	line-height: 1.8rem;

	span {
		font-weight: 400;
		color: #535353;
		line-height: 1.8rem;

		div {
			display: inline-block;
			input.timesInput {
				position: relative;
				left: 1rem;
				height: 2rem;
				// top: -1.2rem;
				opacity: 1;
				width: 3rem;
				padding: 0 0.8rem;
				text-align: center;
			}
		}
	}

	span.active {
		font-weight: 500;
		color: color(secondary);
	}

	div {
		position: relative;

		.check {
			display: inline-block;
			margin-top: 0.35rem;
			height: 1rem;
			width: 1rem;
			background-color: #fff;
			border-radius: 4px;
			border: 1px solid #c4c4c4;
			position: relative;
			margin-right: 0.5rem;

			&:after {
				content: '';
				display: none;
				width: 100%;
				height: 100%;
				border-radius: 100%;
				// background-color: color(secondary);
				margin-left: 0.2px;
				background-image: url('./../../../icons/generic/tick.svg');
				transform: scale(0.75);
			}
		}
	}

	input {
		&:checked {
			& ~ div {
				.check {
					border: 1px solid color(secondary);

					&:after {
						display: block !important;
					}
				}
			}
		}
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
}
