.progressBar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 2rem auto 1rem auto;

	.progress {
		flex-basis: 75%;
		height: 0.6rem;
		.progress-bar {
			background-color: #2acc00 !important;
		}
	}
	span {
		font-size: 12px;
		font-family: font(secondary);
		font-weight: 500;
		color: #b4b4b4;
	}
}
