.singleProductBox {
	&.disabled {
		filter: grayscale(100%);
	}

	display: flex;
	height: 10rem;
	// backgroundColor: '#E2C9CA',
	padding: 0.5rem 0.5rem;
	border-top: 1px solid #e9e9e9;
	font-family: font(secondary);

	.imgContainer {
		flex-basis: 25%;
		img {
			height: 25vh;
			width: 25vw;
			max-width: 10rem;
			object-fit: cover;
			max-height: 9rem;
		}
	}
	.infoContainer {
		flex-basis: 75%;
		padding-left: 0.5rem;

		.label-wishlistContainer {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			// height: 2.5rem;

			.label {
				font-size: 13px;
				flex-basis: 80%;
				overflow: hidden;
				font-weight: 500;
				// height: 2.5rem;
				display: -webkit-box;
				line-height: 1.2rem;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}

			.wishlist {
				position: relative;
				// width: 7rem;
				// flex-basis: 20%;
				margin: 0 0.3rem;
				border-radius: 50%;
				box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
				width: 2.5rem;
				height: 2.5rem;
				display: flex;
				justify-content: center;
				align-items: center;

				svg {
					width: 1.3rem;
					height: 1.3rem;
				}
			}
		}

		.rating {
			margin: 0.2rem 0 0 0;
			width: 3rem;
			padding: 0.1rem 0.4rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: white;
			font-size: 13px;
			border-radius: 5px;

			svg {
				width: 0.8rem;
			}

			&.good {
				background-color: #209103;
			}
			&.average {
				background-color: #ffbc36;
			}
			&.bad {
				background-color: #f0592c;
			}
		}

		.ldc {
			font-size: 22px;
			display: flex;
			align-items: center;
			font-weight: 500;
			color: #535353;

			svg {
				margin-left: 0.5rem;
				width: 1.5rem;
			}
		}

		.description {
			font-size: 12px;
			overflow: hidden;
			display: -webkit-box;
			line-height: 1rem;
			color: #535353;
			font-weight: 400;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}
}
