.errorToastContainer {
	top: 5.5rem;
	padding: 0;
	@media (max-width: 500px) {
		max-width: 65vw;
		margin: 0 auto 0.5vh auto;
		top: auto;
		bottom: 0.5rem;
	}

	.toasty {
		min-height: 50px;
		font-family: font(secondary);
		border-radius: 4px;
		text-align: center;

		button:focus {
			outline: none !important;
		}

		@media (max-width: 500px) {
			min-height: 30px;
			font-size: 15px;
			margin-top: 0.5rem;
		}
	}
}

.messageToastContainer {
	// height: 40px;
	[class*='body'] {
		margin: auto 0;
	}
	.toasty {
		padding: 10px;
		min-height: 0;
		background-color: color(backgroundSecondary);

		svg {
			margin: auto 0.4rem;
		}
	}
}
