.changePassword {
	margin-top: 4rem;
	font-family: font(secondary);

	h1 {
		font-weight: bold;
		font-size: 28px;
		margin-bottom: 1rem;
	}

	h2 {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.darkButton {
		margin-top: 2rem;
	}
	.lightButton {
		margin-bottom: 2rem;
	}
}
