.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;
	outline: none;
}

.bm-burger-bars-hover {
	background: rgba(color(accent), 0.4);
}

.bm-cross-button {
	height: 24px;
	width: 24px;
	top: 20px !important;
	right: 20px !important;
}

.bm-cross {
	background: color('background');
}

.bm-menu-wrap {
	position: fixed;
	min-height: 100vh;
	width: auto !important;

	/* width */
	::-webkit-scrollbar {
		width: 8px;

		@media screen and (max-width: 500px) {
			width: 5px;
		}
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: color(backgroundSecondary);
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: color(primary);
		border-radius: 5px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
.bm-overlay {
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.bm-menu {
	background: color(backgroundSecondary);
	// padding: 2.5em 1.5em 0;
	padding: 0 1em;
	font-size: 1.15em;
	width: 85vw !important;
	max-width: 300px;
}

.bm-item-list {
	color: color(text);
	height: fit-content !important;
	// padding: 0.8em;
}

.bm-item {
	display: inline-block;
	text-decoration: none !important;
	outline: none;
	padding: 1.1rem 0.8rem;
	// text-transform: uppercase;

	font-family: font(secondary);
	font-weight: 500;
	font-size: 15px;
}

.bm-item:hover {
	color: rgba(color(accent), 0.8);
}

.bm-item span {
	text-decoration: none;
}

a.bm-item {
	// padding: 1.2rem 0.8rem;
	display: block;
	color: color(text);
	// text-align: center;
}

.bm-cross-button > button {
	outline: none;
}

.bm-item.active {
	color: color(accent) !important;
}

#signOutNav {
	text-align: center;
	margin: 2vh 0;
	// background-color: rgba(color(accent), 0.6);
	border: 1px solid white;
	padding: 0.4rem 0;
	color: color(text);
	cursor: pointer;
	border-radius: 4px;
	padding: 0.6rem 0;
}

#sideNavBell {
	margin-left: 5px;
	color: color(accent);
}

.displayDropdown {
	// display: block !important;
	max-height: 300px !important;
}

// .active {
// 	color: color(accent) !important;
// }

#closeMenu {
	position: absolute;
	top: 1.7rem;
	left: 315px;
	height: 60px;
	width: 55px;
	cursor: pointer;

	@media screen and (max-width: 390px) {
		left: 85vw !important;
	}
}

#editUser {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 14px;
	padding: 0;
	cursor: pointer;
}

#userContainer {
	border-bottom: 0.5px solid #d2d2d2;
	display: flex;
	width: inherit;
	padding: 1.3rem 0;
	margin-bottom: 0.8rem;
	align-content: center;
	align-items: center;
	font-family: font(secondary);
	margin: 0 -0.5rem 0.8rem -0.5rem;
	justify-content: center;

	#imageContainer {
		// flex-basis: 25%;
		// margin: 0 10px;
		padding: 0 10px 0 0;

		.userImage {
			width: fit-content;
			background-color: rgba(255, 255, 255, 0.3);
			// padding: 0.3rem 0;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		svg {
			width: inherit;
			height: inherit;
			display: block;
			max-width: 40px;
			max-height: 48px;
			// margin: 0 auto;
		}
	}

	#infoContainer {
		// flex-basis: 75%;

		.userDetails {
			font-weight: 300;
			font-size: 11px;
		}
	}
}
#categoryContainer {
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	svg {
		width: 12px;
		margin-left: 15px;
	}

	#dropdownContainer {
		overflow-y: hidden;
		max-height: 0px;
		transition: max-height 0.3s linear;

		#dropdownInnerContainer {
			padding-top: 20px;

			.categoryItem {
				font-weight: normal;
				font-size: 14px;
				display: block;
				padding-left: 25px;
				margin-bottom: 15px;
				text-decoration: none;
				color: white;

				&:hover {
					color: rgba(color(accent), 0.8) !important;
				}
			}
		}
	}
}

.genericUserContainer {
	display: flex !important;
	align-items: center;
	border-bottom: 0.5px solid #d2d2d2;

	.iconContainer {
		width: 50px;
		height: 50px;
	}

	.title {
		margin: 0 auto;
	}
}
